doctype html
html(lang='id')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Wonderbee - Beta Tester
    link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/css/app.min.css')
    link(rel="icon", type="image/png", href="/assets/images/favico.png")
  body
    header
      .wrapper
        img#wonderbee-logo(src='/assets/images/logo.png', alt='Wonderbee')
        .wonderbee-btn-sm
          | Beta Version
    main
      .wrapper
        .terimakasih.text-center
          img(src='/assets/images/Thank You.png', alt='terimakasih')
          p
            | Bergabunglah dengan grup WhatsApp Wonderbee untuk dapat berinteraksi dengan beta tester lainnya & memperoleh informasi terkini mengenai dunia parenting.
            br
            br
            a.wonderbee-btn(href="https://chat.whatsapp.com/JPkehp9hYT9FXKMygmzVEg", target="_blank", style='color: #ffffff; text-decoration: none; font-weight: normal;') saya ingin bergabung
        .dukungan.text-center
          p
            | Jumlah Dukungan
            br
            | Millenial Parents
          #jumlah-beta-tester
            #banyak-tester.row
              span.empat-angka #{total}
    footer
      .wrapper
        p.text-center
          b
            | TEMUKAN KAMI !
        .footer-content
          .alamat
            p Alamat
            p
              | EDS Building - UGM
              br
              | Jl. Asem Kranji
              br
              | Blok K-7, Sekip Bulaksumur
              br
              | UGM YK, Sleman
              br
              | DI Yogyakarta 55284
          .sosial-media
            p Social Media
            .contact
              a(href="https://facebook.com/wonderbee.care", target="_blank")
                img(src='/assets/images/facebook.svg', alt='facebook')
              a(href="https://www.instagram.com/wonderbee.care/", target="_blank")
                img(src='/assets/images/instagram.svg', alt='instagram')
              a(href="https://chat.whatsapp.com/JPkehp9hYT9FXKMygmzVEg", target="_blank")
                img(src='/assets/images/whatsapp.svg', alt='whatsapp')
              a(href="mailto:wonderbee.care@gmail.com")
                img(src='/assets/images/gmail.svg', alt='gmail')
        p.text-center
          | Copyright Ⓒ 2018, Wonderbee
          br
          |                 All Rights Reserved
    script.
      const counterHolder=document.getElementById('banyak-tester')
      const numbers=document.querySelector('.empat-angka').innerText.split("")
      counterHolder.innerHTML="";if(numbers.length<4){while(numbers.length<4){numbers.unshift("0")}}
      numbers.forEach(number=>{counterHolder.innerHTML+='<div class="col s3 m3 l3"><span class="number">'+number+'</span></div>'})