doctype html
html(lang='id')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Wonderbee - Beta Tester
    link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/css/swiper.min.css')
    link(rel='stylesheet', href='/assets/css/app.min.css')
    link(rel="icon", type="image/png", href="/assets/images/favico.png")
  body
    header
      .wrapper
        img#wonderbee-logo(src='/assets/images/logo.png', alt='Wonderbee')
        .wonderbee-btn-sm
          | Beta Version
    main
      .wrapper
        #content-1
          img(src='/assets/images/pic-1.png', alt='Tentang Wonderbee')
        .divider
        #content-2
          img.daun-left(src='/assets/images/daun.png')
          span
            b
              | Bergabunglah Segera dengan Wonderbee!
          img.daun(src='/assets/images/daun.png')
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              img(src='/assets/images/slide-1.png')
            .swiper-slide
              img(src='/assets/images/slide-2.png')
            .swiper-slide
              img(src='/assets/images/slide-3.png')
          .swiper-pagination
          .swiper-button-prev
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 27 44')
              path(d='M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z', fill='#ed6075')
          .swiper-button-next
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 27 44')
              path(d='M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z', fill='#ed6075')
        .divider
        #content-3
          p(style='margin: 0;')
            b
              | Bergabunglah dalam program beta tester website Wonderbee sebagai bentuk dukungan Anda untuk membuat proses parenting di Indonesia menjadi jauh lebih baik lagi.
          
          form#tester-form(method="POST", action="/beta-tester")
            if error
              #form-alert.alert.alert-danger.alert-dismissible.fade.show(role='alert')
                |  #{error.message}
                button.close(type='button', data-dismiss='alert', aria-label='Close')
                  span(aria-hidden='true') ×

            if csrfToken
              input(type="hidden", name="_csrf", value=csrfToken)

            input.input(type='text', placeholder='Email / No. Telepon', name='contact')
            textarea.input(name='comment', rows='5', placeholder='Harapan Anda sebagai beta tester Wonderbee')
            button.wonderbee-btn(style='width: 100%; font-weight: bold;') 
              | Daftar
          p
            b
              | Oh ya, pastinya Anda dapat menggunakan
              br
              |                         semua fitur dalam website Wonderbee
              br
              |                         versi beta ini secara gratis!
    footer
      .wrapper
        p.text-center
          b
            | TEMUKAN KAMI !
        .footer-content
          .alamat
            p Alamat
            p
              | EDS Building - UGM
              br
              | Jl. Asem Kranji
              br
              | Blok K-7, Sekip Bulaksumur
              br
              | UGM YK, Sleman
              br
              | DI Yogyakarta 55284
          .sosial-media
            p Social Media
            .contact
              a(href="https://facebook.com/wonderbee.care", target="_blank")
                img(src='/assets/images/facebook.svg', alt='facebook')
              a(href="https://www.instagram.com/wonderbee.care/", target="_blank")
                img(src='/assets/images/instagram.svg', alt='instagram')
              a(href="https://chat.whatsapp.com/JPkehp9hYT9FXKMygmzVEg", target="_blank")
                img(src='/assets/images/whatsapp.svg', alt='whatsapp')
              a(href="mailto:wonderbee.care@gmail.com")
                img(src='/assets/images/gmail.svg', alt='gmail')
        p.text-center
          | Copyright Ⓒ 2018, Wonderbee
          br
          |                 All Rights Reserved
    script(src='/assets/js/jquery-3.3.1.slim.min.js')
    script(src='/assets/js/bootstrap.min.js')
    script(src='/assets/js/swiper.min.js')
    script.
      const mySwiper=new Swiper('.swiper-container',{direction:'horizontal',loop:!0,pagination:{el:'.swiper-pagination',},navigation:{nextEl:'.swiper-button-next',prevEl:'.swiper-button-prev',}})
