<template>
  <div
    class="dropdown"
    tabindex="0"
    @focus.stop="handleFocus"
    @blur.stop="handleBlur">
    <span :class="{ 'text-grey-darker': !selected }">{{ getText }}</span>

    <div
      class="menu"
      :class="{ active: isFocus }">
      <div
        v-for="(eachData, index) in data"
        :key="index"
        class="item"
        tabindex="0"
        @click="handleClick(eachData)"
        @keydown.enter="handleClick(eachData)"
        @focus="handleFocus"
        @blur="handleBlur">
        {{ eachData.text ? eachData.text : (eachData.value ? eachData.value : eachData) }}
      </div>
    </div>
  </div>
</template>

<style scoped>
.dropdown {
  position: relative;
}

.dropdown > .menu {
  height: 0;
  position: absolute;
  left: 0;
  top: calc(100% + 1px);
  padding: 4px;
  width: 100%;
  z-index: -1;
}

.dropdown > .menu {
    -webkit-transition: all 0.10s ease-in-out;
    -moz-transition: all 0.10s ease-in-out;
    -ms-transition: all 0.10s ease-in-out;
    -o-transition: all 0.10s ease-in-out;
}

.dropdown > .menu.active {
  height: auto;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .125);
  z-index: 5;
}

.dropdown > .menu:not(.active) * {
  visibility: hidden;
}

.dropdown > .menu > .item {
  padding: 8px;
  border-radius: 8px;
}

.dropdown > .menu > .item:focus,
.dropdown > .menu > .item:hover {
  outline: 0;
  border: 1px solid #dd6371;
}
</style>

<script>
export default {
  data () {
    return {
      isFocus: false,
      value: null,
      selected: null
    }
  },

  computed: {
    getText: function () {
      if (this.selected) {
        return this.selected.text ? this.selected.text : (this.selected.value ? this.selected.value : this.selected)
      }

      return this.placeholder
    }
  },

  props: {
    data: {
      type: Array,
      default () {
        return []
      }
    },
    placeholder: {
      type: String,
      default () {
        return 'Placeholder'
      }
    }
  },

  methods: {
    handleFocus () {
      this.isFocus = true
    },

    handleBlur () {
      this.isFocus = false
    },

    handleClick (data) {
      this.selected = data
      this.isFocus = false

      const value = this.selected.value ? this.selected.value : (this.selected.text ? this.selected.text : this.selected)

      this.$emit('on-selected', value)
    }
  }
}
</script>
