@charset "UTF-8";

@font-face {
  font-family: "wonderbee-nav";
  src:url("../fonts/wonderbee-nav.eot");
  src:url("../fonts/wonderbee-nav.eot?#iefix") format("embedded-opentype"),
    url("../fonts/wonderbee-nav.woff") format("woff"),
    url("../fonts/wonderbee-nav.ttf") format("truetype"),
    url("../fonts/wonderbee-nav.svg#untitled-font-6") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "wonderbee-nav" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "wonderbee-nav" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\61";
}
.icon-konten:before {
  content: "\62";
}
.icon-notif:before {
  content: "\63";
}
.icon-profil:before {
  content: "\64";
}
