.btn1{
  border: 1px solid var(--button-primary);
    color: var(--button-primary);
    background-color: var(--white);
    padding: 2px 5px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 10pt;
}