@import './style.css';
@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

#login-box {
    width: 100%;
    padding: 16px;
    text-align: center;
}

#login-box input {
    text-align: center;
}

#login-box .logo {
    max-width: 60%;
    margin-bottom: 16px;
}

#register-box {
    margin-top: 64px;
}

#register-box span {
    line-height: 1.5;
}

#register-box span:first-child {
    color: #dd6371;
}

#social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
}

#social-media img {
    margin: 0 8px;
    max-height: 36px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .15);
}

#social-media img:hover {
    cursor: pointer;
}

#social-media img:active {
    box-shadow: none;
}

.input {
    width: 100%;
}

.input label {
    display: block;
    margin-bottom: 8px;
}

.input:not(:last-child) {
    margin-bottom: 16px;
}

.input .input-control {
    width: 100%;
    padding: 8px;
    line-height: 1.5;
    border: 1px solid rgba(0, 0 , 0, .125);
    border-radius: 8px;
}

.input .input-control:focus {
    border-color: #dd6371;
    outline: 0;
}

#social-media img,
.input input.input-control,
.btn {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.btn {
    padding: 8px;
    line-height: 1.5;
    border-radius: 8px;
    border: 1px solid rgba(0, 0 , 0, .125);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .15);
}

.btn:hover {
    cursor: pointer;
}

.btn:focus {
    outline: 0;
}

.btn:active {
    appearance: none;
    box-shadow: none;
}

.btn.btn-block {
    width: 100%;
}

.btn.btn-primary {
    border: none;
    color: #ffffff;
    background-color: #dd6371;
}