<template>
  <div class="h-screen flex items-center justify-center">
    <div id="login-box">
      <img
        class="logo"
        src="~/assets/images/wonderbee_1.png" >

      <div
        class="input">
        <input
          class="input-control"
          type="text"
          placeholder="Email / No.Telpon" >
      </div>

      <div
        class="input"
        style="margin-bottom: 8px;">
        <input
          class="input-control"
          type="password"
          placeholder="Password" >
      </div>

      <div
        class="input"
        style="text-align: right; margin-bottom: 8px;">
        <a
          class="text-grey-dark"
          href="#"
          style="text-decoration: none; line-height: 1.5;">
          <small>Lupa password?</small>
        </a>
      </div>

      <div class="input">
        <input
          type="submit"
          class="btn btn-primary btn-block"
          value="Masuk"
          style="font-weight: bold;">
      </div>

      <div id="register-box">
        <span>
          Belum punya akun? Daftar di
          <nuxt-link
            to="/register"
            style="text-decoration: none; color: #dd6371">
            <b>sini</b>
          </nuxt-link>
        </span>
        <br>
        <span>Atau masuk dengan</span>

        <div id="social-media">
          <img src="~/assets/images/fb.png">

          <img src="~/assets/images/gmail.png">
        </div>
      </div>
    </div>
  </div>
</template>
