<template>
  <div class="h-screen flex items-center justify-center">
    <div id="login-box">
      <img
        class="logo"
        style="max-width: 80%;"
        src="~/assets/images/wonderbee_2.png" >

      <div class="input">
        <input
          class="input-control"
          type="text"
          placeholder="Nama" >
      </div>

      <div class="input">
        <dropdown
          class="input-control"
          :placeholder="'Jenis Kelamin'"
          :data="[{ text: 'Pria', value: 'male' }, { text: 'Wanita', value: 'female' }]"
          @on-selected="value => gender = value"/>
      </div>

      <div class="input">
        <input
          class="input-control"
          type="text"
          placeholder="Email / No.Telpon" >
      </div>

      <div class="input">
        <input
          class="input-control"
          type="password"
          placeholder="Password" >
      </div>

      <div class="input">
        <input
          class="input-control"
          type="password"
          placeholder="Konfirmasi password" >
      </div>

      <div class="input">
        <input
          type="submit"
          class="btn btn-primary btn-block"
          value="Daftar Sekarang"
          style="font-weight: bold;">
      </div>

      <div
        class="text-grey-dark"
        style="font-size: 12px; line-height: 1.5;">
        Dengan mendaftar, Anda menyetujui <u>Syarat & Ketentuan, dan Kebijakan Privasi</u> Wonderbee
      </div>

      <div
        id="register-box"
        style="margin-top: 32px;">
        <span>
          Sudah punya akun? Masuk di
          <nuxt-link
            to="/login"
            style="text-decoration: none; color: #dd6371">
            <b>sini</b>
          </nuxt-link>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import Dropdown from '../components/Dropdown'

export default {
  data () {
    return {
      gender: ''
    }
  },

  components: {
    Dropdown
  }
}
</script>
